<h1>Seller Registration</h1>
<%= form_for('/seller_reg') do |f| %>
    <!--Bid Price:-->
    <!--<%= f.text_field :bidprice %>-->
    <!--<br/>-->
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>